* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    color: #f2f2f2;
    font-family: "Apple Braille", sans-serif;
}

ul {
    list-style: none;
}

h3, p, ul {
    margin: 0;
    padding: 0;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

input {
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.layout {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
}

.header {
    min-height: 50px;
    background-color: #34A853;
}

.header__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.main {
    display: flex;
    margin-top: 24px;
}

.main__controls {
    max-width: 200px;
}

.main__button {
    background-color: rgb(66,133,244);
    transition: background-color 0.3s ease-in;
    color: #f2f2f2;
}

.main__button:hover {
    background-color: rgba(66,133,244, 0.9);
}

.main__list {
    flex-grow: 1;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    border: 4px solid rgb(251,188,5);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shagow 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: rgba(251,188,5, 0.1);
    margin-right: 34px;
    position: relative;
}
.card:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.22);
}
.card__title {
    margin-bottom: 12px;
}
.card__input {
    position: absolute;
    right:20px;
    top: 20px;
}
.card--completed  {
    background-color: rgba(234,67,53, 0.3);
    border-color: rgb(234,67,53);
}

.modal {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}
.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}
.modal__input-list {
    display: flex;
    flex-direction: column;
}
.modal__input {
    color: black;
    margin-bottom: 20px;
}
.modal__button-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal__button--close, modal__button--add {
    align-self: flex-end;
}

.modal__button--close {
    background-color: rgba(234,67,53, 0.7);
    border: 4px solid rgb(234,67,53);
    border-radius: 2px;
    transition: background-color 0.3s ease-in;
}
.modal__button--close:hover {
    background-color: rgba(234,67,53, 1);
}

.modal__button--add {
    background-color: rgba(52,168,83, 0.7);
    border: 4px solid rgb(52,168,83);
    border-radius: 2px;
}
.modal__button--add:hover {
    background-color: rgba(52,168,83, 1);
}
